JetBrains/
Code/
GIMP/
QtProject.conf
Unknown Organization/
bash/
configstore/
dconf/
google-chrome/
gscreenshot
gtk-2.0/
gtk-3.0/
java/
jdks/
.vim/
pulse/
oomox/
qt5ct/
qt6ct/
systemd/
teams-for-linux/
vlc/
zoomus.conf
lsp/
nvim/
mimeapps.list
npm/
