# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  b {actionId: Back, description: Back},
  n {actionId: Forward, description: Forward},
  f {
    description: Find...
    bindings {
      b {actionId: RecentFiles, description: Buffers}
      r {actionId: ShowUsages, description: Find references}
      g {actionId: FindInPath, description: Find in Files}
      f {actionId: GotoFile, description: Go To File}
      p {actionId: SearchEverywhere, description: Search Everywhere}
    }
  },
  m {actionId: CloseAllEditorsButActive, description: Close Other},
  M {actionId: HideAllWindows, description: Show/Hide All Windows},
  o {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode},
  s {
    description: Show...
    bindings {
      d {actionId: ActivateProjectToolWindow, description: Show directories}
    }
  },
  a {
    description: Ataman...
    bindings {
      e {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
      r {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
    }
  },
}
